<section id="about">
    <div class="title">
        <h1>DESIGN PATTERNS</h1>
    </div>
    <div class="child-content">
        <div class="about-content">
            <h3>Thông tin sinh viên thực hiện</h3>
            Mssv: 19110289
            <br>
            Họ và tên: Trần Tuấn Thành
            <br>
            Đề tài: trình bày, giải thích các design pattern đã được học và áp dụng vào frame work nodejs
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</section>
