<section id="behavioral">
    <div class="container">
        <div class="left-column">
            <nav>
                <ul class="vertical-navbar-content" id="list-vertical-navbar">
                    <li><a id="behavioral1" onclick="handleVerticalNavbarContent('behaviorals/chain-of-responsibility', 'behavioral1')">Chain of Responsibility</a></li>
                    <li><a id="behavioral2" onclick="handleVerticalNavbarContent('behaviorals/command', 'behavioral2')">Command</a></li>
                    <li><a id="behavioral3" onclick="handleVerticalNavbarContent('behaviorals/iterator', 'behavioral3')">Iterator</a></li>
                    <li><a id="behavioral4" onclick="handleVerticalNavbarContent('behaviorals/mediator', 'behavioral4')">Mediator</a></li>
                    <li><a id="behavioral5" onclick="handleVerticalNavbarContent('behaviorals/memento', 'behavioral5')">Memento</a></li>
                    <li><a id="behavioral6" onclick="handleVerticalNavbarContent('behaviorals/observer', 'behavioral6')">Observer</a></li>
                    <li><a id="behavioral7" onclick="handleVerticalNavbarContent('behaviorals/state', 'behavioral7')">State</a></li>
                    <li><a id="behavioral8" onclick="handleVerticalNavbarContent('behaviorals/strategy', 'behavioral8')">Strategy</a></li>
                    <li><a id="behavioral9" onclick="handleVerticalNavbarContent('behaviorals/template-method', 'behavioral9')">Template Method</a></li>
                    <li><a id="behavioral10" onclick="handleVerticalNavbarContent('behaviorals/visitor', 'behavioral10')">Visitor</a></li>
                </ul>
            </nav>
            
        </div>
        <div class="right-column">
            <div class="title">
                <h1>BEHAVIORAL DESIGN PATTERNS</h1>
            </div>
            <div class="vertical-content">
                <main>
                    <section id="content-level2"></section>
                </main>
            </div>
        </div>
    </div>

</section>