<section id="creational">
    <div class="container">
        <div class="left-column">
            <nav>
                <ul class="vertical-navbar-content" id="list-vertical-navbar">
                    <li><a id="creational1" onclick="handleVerticalNavbarContent('creationals/factory-method', 'creational1')">Factory Method</a></li>
                    <li><a id="creational2" onclick="handleVerticalNavbarContent('creationals/abstract-factory', 'creational2')">Abstract Factory</a></li>
                    <li><a id="creational3" onclick="handleVerticalNavbarContent('creationals/builder', 'creational3')">Builder</a></li>
                    <li><a id="creational4" onclick="handleVerticalNavbarContent('creationals/prototype', 'creational4')">Prototype</a></li>
                    <li><a id="creational5" onclick="handleVerticalNavbarContent('creationals/singleton', 'creational5')">Singleton</a></li>
                </ul>
            </nav>
            
        </div>
        <div class="right-column">
            <div class="title">
                <h1>CREATIONAL DESIGN PATTERNS</h1>
            </div>
            <div class="vertical-content">
                <main>
                    <section id="content-level2"></section>
                </main>
            </div>
        </div>
    </div>

</section>