<section id="home">
    <div class="title">
        <h1>DESIGN PATTERNS</h1>
    </div>
    <div class="child-content">
        <div class="home-content">
            Design pattern (mẫu thiết kế) là các giải pháp tổ chức, cấu trúc và xử lý trong phát
            triển phần mềm, được áp dụng để giải quyết các vấn đề chung mà lập trình viên thường gặp
            phải. Các mẫu thiết kế cung cấp một cách tiếp cận chuẩn hóa và tái sử dụng cho việc
            thiết kế phần mềm, giúp tăng tính linh hoạt, hiệu quả, và dễ bảo trì.
            <br /><br />
            Các design pattern được phân loại vào các nhóm khác nhau, bao gồm:
            <h3>1. Creational Patterns (Mẫu tạo đối tượng):</h3>
            Tập trung vào quá trình tạo ra các đối tượng, giúp kiểm soát quá trình khởi tạo và tạo
            ra các đối tượng một cách linh hoạt. Một số mẫu creational pattern phổ biến bao gồm:
            Singleton, Factory Method, Abstract Factory, Builder.
            <h3>2. Structural Patterns (Mẫu cấu trúc):</h3>
            Tập trung vào cấu trúc các đối tượng và các quan hệ giữa chúng. Các mẫu structural
            pattern giúp xây dựng các cấu trúc phức tạp bằng cách kết hợp các đối tượng lại với
            nhau. Một số mẫu structural pattern phổ biến bao gồm: Adapter, Decorator, Composite,
            Proxy.
            <h3>3. Behavioral Patterns (Mẫu hành vi):</h3>
            Tập trung vào cách các đối tượng tương tác với nhau và phân chia trách nhiệm giữa chúng.
            Các mẫu behavioral pattern giúp xác định các quy tắc tương tác giữa các đối tượng. Một
            số mẫu behavioral pattern phổ biến bao gồm: Observer, Strategy, Command, State.
            <br /><br />
            Mỗi mẫu thiết kế có mục tiêu và cách sử dụng riêng, tùy thuộc vào vấn đề cụ thể mà bạn
            đang giải quyết. Sử dụng các design pattern có thể giúp tăng tính tái sử dụng, sự linh
            hoạt và khả năng mở rộng của mã nguồn, đồng thời cung cấp một ngôn ngữ chung giữa các
            thành viên trong nhóm phát triển.
        </div>
    </div>
</section>
