<section id="structural">
    <div class="container">
        <div class="left-column">
            <nav>
                <ul class="vertical-navbar-content" id="list-vertical-navbar">
                    <li><a id="structural1" onclick="handleVerticalNavbarContent('structurals/adapter', 'structural1')">Adapter</a></li>
                    <li><a id="structural2" onclick="handleVerticalNavbarContent('structurals/bridge', 'structural2')">Bridge</a></li>
                    <li><a id="structural3" onclick="handleVerticalNavbarContent('structurals/composite', 'structural3')">Composite</a></li>
                    <li><a id="structural4" onclick="handleVerticalNavbarContent('structurals/decorator', 'structural4')">Decorator</a></li>
                    <li><a id="structural5" onclick="handleVerticalNavbarContent('structurals/facade', 'structural5')">Facade</a></li>
                    <li><a id="structural6" onclick="handleVerticalNavbarContent('structurals/flyweight', 'structural6')">Flyweight</a></li>
                    <li><a id="structural7" onclick="handleVerticalNavbarContent('structurals/proxy', 'structural7')">Proxy</a></li>
                </ul>
            </nav>
            
        </div>
        <div class="right-column">
            <div class="title">
                <h1>STRUCTURAL DESIGN PATTERNS</h1>
            </div>
            <div class="vertical-content">
                <main>
                    <section id="content-level2"></section>
                </main>
            </div>
        </div>
    </div>

</section>