.container {
    display: flex;
    height: 100vh;
}

.left-column {
    flex: 1;
    background-color: var(--darkcyan-color);
}

.right-column {
    flex: 4;
    background-color: var(--lightcyan-color);
}

.vertical-navbar-content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--darkcyan-color);
}

.vertical-navbar-content li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.vertical-navbar-content li a:hover {
    background-color: var(--cadet-blue-color);
    color: white;
}

.title {
    height: 75px;
    background-color: var(--paleturquoise-color);
    font-size: 2em;
}

.highlight-vertical {
    color: white;
    background-color: var(--lightseagreen-color);
}

.child-content {
    padding: 20px;
    padding-top: 20px;
    background-color: var(--lightcyan-color);
}

.home-content {
    height: 80vh;
}

.child-content p {
    margin-top: 0;
}

.code-container {
    background-color: var(--paleturquoise-color);
}

.abstract-button {
    margin-bottom: 10px;
}

.state {
    margin-top: 10px;
}

.result {
    margin-top: 10px;
}

.abstract-button {
    margin-bottom: 10px;
}

button {
    background-color: var(--teal-color); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

input {
    margin-bottom: 10px;
}

.btn-css {
    margin-bottom: 10px;
}